NEXT_PUBLIC_SITE_URL=https://sevenseassailing.com
NEXT_PUBLIC_FAREHARBOR_SHORTNAME=REPLACE_SHORTNAME
NEXT_PUBLIC_FAREHARBOR_ITEM_DAY_CRUISE=REPLACE_ITEM_DAY_CRUISE
NEXT_PUBLIC_FAREHARBOR_ITEM_PRIVATE=REPLACE_ITEM_PRIVATE
